services:
  app:
    build: .
    container_name: laravel_app
    ports:
      - "8000:80"
    volumes:
      - ./laravel:/var/www/html
      - ./laravel.conf:/etc/apache2/sites-available/000-default.conf
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: laravel_db
    environment:
      POSTGRES_USER: laravel-user
      POSTGRES_PASSWORD: vikki
      POSTGRES_DB: laravel
    ports:
      - "5433:5433"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
